<div class="container pt-1">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/tareas">
        <img src="../../../assets/logotaskpro.png" alt="" width="30" 
        height="30" class="d-inline-block align-text-top">
        TaskPro
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/tareas">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tareas">Tareas</a>
          </li>
        </ul>

        <ul class="navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Registro</a>
          </li>
        </ul>

        <ul class="navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
            data-bs-toggle="dropdown" aria-haspopup aria-expanded="false">
              Nombre Usuario
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Crear Tarea</a></li>
              <li><a class="dropdown-item" href="#">Asignar Tarea</a></li>
              <div><hr class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              <li><a class="dropdown-item" href="#">Control Tarea</a></li>
              <li><a class="dropdown-item" href="#">Salir</a></li>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
